# Dependencies
node_modules

# IDEs and editors
.idea
.classpath
.project
.vscode

# Package Mangers
npm-debug.log
yarn-error.log

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Cache 
.awcache

# Build Generated
dist/*
vendor/vendor.js